@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #ecf0f1;
    font-family: 'Roboto', 'sans-serif';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

img {
    max-width: 100%;
}

.card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    overflow: hidden;
    width: 350px;
}

.card-header {
    height: 200px;
}

.card-header img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-content {
    background-color: #fff;
    padding: 30px;
}

.card-title {
    height: 20px;
    margin: 0;
}

.card-excerpt{
    color: #777;
    margin: 10px 0 20px;
}

.author{
    display: flex;
}

.profile-img{
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
}

.author-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 12px;
    width: 100px;
}

.author-info small{
    color: #aaa;
    margin-top: 5px;
}