@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #2a2a72;
    color: #fff;
    font-family: 'Poppins', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.user-form {
    width: 100%;
    max-width: 700px;
}

.user-form input {
    width: 100%;
    display: block;
    background-color: #4c2885;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05),
        0 15px 40px rgba(0, 0, 0, .1);
}

.user-form input::placeholder {
    color: #bbb;
}

.user-form input:focus {
    outline: none;
}

.card {
    max-width: 800px;
    background-color: #4c2885;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05),
        0 15px 40px rgba(0, 0, 0, .1);
    display: flex;
    padding: 3rem;
    margin: 0 1.5rem;
}

.avatar {
    border-radius: 50%;
    border: 10px solid #2a2a72;
    width: 150px;
    height: 150px;
}

.user-info {
    color: #eee;
    margin-left: 2rem;
}

.user-info h2 {
    margin-top: 0;
}

.user-info ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
}

.user-info ul li {
    display: flex;
    align-items: center;
}

.user-info ul li strong {
    font-size: .9rem;
    margin-left: .5rem;
}

.repo {
    text-decoration: none;
    color: #fff;
    background-color: #212a72;
    padding: .25rem .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    display: inline-block;
    font-size: .7rem;
}

@media (max-width:500px) {
    .card {
        flex-direction: column;
        align-items: center;
    }

    .user-form{
        max-width: 400px;
    }
}